body {
    background-color: red!important;
}
/* 公众号正文内容区域 */
.rich_media_area_primary_inner{
    max-width: 100% !important;
}

/* 公众号扫码关注的框 */
.qr_code_pc_inner{
    display: none !important;
}


#s_btn_wr {
    border-bottom: none !important;
    background: black !important;
}
#s_btn_wr input{
    background: red !important;
}

/* 掘金 */
.container {
    width: 1560px !important;
    max-width: 1560px !important;
}
.main-area {
    width: 1300px !important;
}