html, body {
  margin: 0;
}
.body {
  width: 380px;
  position: relative;
}

.header {
    height: 46px;
    position: relative;
    line-height: 46px;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    background: #fff;
    color: #333;
    font-size: 16px;
}

.header .version {
  font-size: 10px;
  color: #aaa;
}

.header .bug {
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #aaa;
  text-decoration: none;
}

.container {
  padding: 10px;
}

.container .item {
    font-size: 13px;
    color: #353535;
    padding: 12px 14px;
    border-bottom: 1px solid #e3e3e3;
}

.container .item .options{
    display: flex;
    margin-top: 6px;
}
.container .item .options .option{
    flex: 1;
}

.handle-container {
  text-align: center;
}

.handle-container button {
  margin-top: 16px;
  background-color: #e8f3ff;
  color: #1e80ff;
  padding: 5px 16px;
  border: 0;
  cursor: pointer;
}

.handle-container .default {
  background-color: #fff;
  color: #666;
}

.handle-container #save-button {
  background-color: #e8f3ff;
  color: #1e80ff;
}

.tips {
    padding: 0 14px;
}

.footer {
    display: flex;
    width: 100%;
    font-size: 13px;
    color: #333;
    padding: 14px 14px;
    box-sizing: border-box;
}
.footer .left,
.footer .right {
    flex: 1;
}
.footer .right {
    text-align: right;
}

.options-header.line {
  display: flex;
}

.options-header.line .label,
.options-header.line .handle {
  flex: 1;
}

.options-header.line .handle {
  text-align: right;
}

.hide {
  display: none;
}

/* 自定义网站规则 Start*/
#toggleInputRule {
  display: none;
}
.item .options-custom label {
  margin: 4px 0;
  display: block;
}

.item .options-custom label span {
  display: inline-block;
  width: 40px;
}

.item .options-custom label input{
  width: calc(100% - 54px);
}

#toggleAddRule {
  cursor: pointer;
  position: relative;
}
.icon {
  width: 20px;
  height: 20px;
}
.icon-right {
  position: absolute;
  right: 0;
}
.tips-demo {
  cursor: pointer;
  font-size: 10px;
  color: #aaa;
  text-decoration: underline;
}
#ruleDemoModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  border: 1px solid #e3e3e3;
  background: rgba(255, 255, 255, .9);
  color: #333;
  display: none;
}

#ruleDemoModal .modal-header{
  padding: 10px;
  border-bottom: 1 px solid #e3e3e3;
  font-size: 14px;
  font-weight: bold;
}
#ruleDemoModal .close {
  right: 10px;
  cursor: pointer;
}
#ruleDemoModal .modal-container {
  padding: 0 10px;
}
#ruleDemoModal .modal-container .title{
  font-size: 12px;
  font-weight: bold;
}
/* 自定义网站规则 End*/


/* 其他样式 */
/* 定义全局变量 */
:root {
  --base_color: rgba(0, 0, 0, 0.25);
  --act_color: #5dcb61;
}

/* 隐藏input输入框 */
#viewMode {
	position: absolute;
	left: -9999px;
}

/* 设置自定义颜色 */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s 0s;
}
/* 开关圆球 */
.switch::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: white;
  transition: all 0.3s 0s;
}

input[type="checkbox"]:checked + .switch::after {
  transform: translateX(20px);
}

input[type="checkbox"]:checked + .switch {
  background-color: #5dcb61;
}